[Desktop Entry]
Name=Chromium-Setup
Comment=A configuration editor for Chromium
Comment[de]=Das Konfigurationsprogramm von Chromium
Icon=chromium.png
Exec=chromium-setup
Terminal=0
Type=Application
