[Desktop Entry]
Encoding=UTF-8
Name=Chromium-Setup
Comment=A configuration editor for Chromium
Comment[de]=Das Konfigurationsprogramm von Chromium
Comment[pl]=Konfigurator Chromium
Icon=chromium.png
Exec=chromium-setup
Terminal=false
Categories=Settings;
Type=Application
# vi: encoding=utf-8
