[Desktop Entry]
Name=Chromium
Comment=A fast paced, arcade-style space shooter
Comment[de]=Ein schnelles Arcade Weltraum Ballerspiel
Comment[ja]=クロミウム
Icon=chromium.png
Exec=chromium
Terminal=false
Type=Application
